@import "./variables";
@import "./mixins/texts.scss";

// Default
:root {
    --color_base: #{$color_base};
    --color_layer: #{$color_layer};
    --color_1: #{$color_1};
    --color_2: #{$color_2};
    --color_3: #{$color_3};
    --color_4: #{$color_4};
    --color_5: #{$color_5};
    --color_6: #{$color_6};
    --dorminant_1: #{$dorminant_1};
    --dorminant_2: #{$dorminant_2};
}

* {
    box-sizing: border-box;
    outline: none;
}

html {
    color: var(--color_1);
}

html,
body {
    width: 100%;
    height: 100%;
}

svg {
    display: block;
    height: auto;
}

a:link,
a:visited,
a {
    color: inherit;
    text-decoration: none;
}

.text-contents {
    a:link,
    a:visited,
    a {
        color: var(--color_3);
    }
    a {
        transition: 0.3s all;

        &.is-active {
            color: var(--color_1);
        }
        &:hover {
            color: var(--color_2);
        }
    }
}

.pager {
    font-size: 0.88em;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;

    li {
        display: block;
        margin-right: 20px;
    }
    li:last-child {
        margin-right: 0;
    }
    li.disabled a {
        color: var(--color_4);
        pointer-events: none;
    }
    a {
        color: var(--color_2);
        display: block;
    }

    a:hover,
    .active a {
        color: var(--color_3);
    }
    .active a {
        pointer-events: none;
    }
}
.pager-control {
    font-size: 0.9em;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;

    caption {
        font-size: 1.5em;
        margin: 0.5em 0 0.75em;
    }
    tr {
        border: 1px solid #ddd;
        padding: 0.35em;
    }
    th,
    td {
        padding: 0.625em;
        border-right: 1px solid #ddd;
    }
    th {
        font-size: 0.75em;
        letter-spacing: 0.1em;
        font-weight: 700;
    }
}

h1 {
    font-size: 1.25em;
    font-weight: 700;

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}
