@import "../variables";
@import "./str-replace.scss";

@mixin font-face(
    $name,
    $path,
    $weight: null,
    $style: null,
    $exts: eot woff2 woff ttf svg
) {
    $src: null;

    $extmods: (
        eot: "?",
        svg: "#" + str-replace($name, " ", "_"),
    );

    $formats: (
        otf: opentype,
        ttf: truetype,
    );

    @each $ext in $exts {
        $extmod: if(
            map-has-key($extmods, $ext),
            $ext + map-get($extmods, $ext),
            $ext
        );
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url($path+"."+$extmod) format("#{$format}"), comma);
    }

    @font-face {
        font-family: quote($name);
        font-display: swap;
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

@mixin use-font($name: false, $prefer: $font-two, $default: $font-one) {
    @if $name == $prefer {
        font-family: $default, $name, fallback-fonts();
    } @else if $name {
        $fallback: $name, $prefer;

        font-family: $default, fallback-fonts($fallback);
    } @else {
        font-family: $default, fallback-fonts($prefer);
    }
}
